{% extends "base.html" %}
{% block main %}
<article>
<h1>Домашние задания</h1>
<div class="assignments">
{% for assignment, repository in context %}
    <span>{{ assignment.name }}</span>

    {% if repository is none %}
    <span></span>
    {% elif repository.status.name == "FINISHED" %}
    <a href="https://github.com/{{ assignment.owner }}/{{ repository.repo_name }}">{{ repository.repo_name }}</a>
    {% elif repository.status.name == "IN_PROGRESS" %}
    <span>Создаётся</span>
    {% elif repository.status.name == "FAILED" %}
    <span>Ошибка</span>
    {% endif %}

    {% if repository is none %}
    <form style="display: inline;" method="POST" action="{{ url_for('osp:issue_start', id=assignment.id) }}">
        <button>Создать</button>
    </form>
    {% elif repository.status.name in ["FINISHED", "FAILED"] %}
    <form style="display: inline;" method="POST" action="{{ url_for('osp:issue_start', id=assignment.id) }}" onsubmit="return confirm('Вы уверены?')">
        <button>Пересоздать</button>
    </form>
    {% else %}
    <span></span>
    {% endif %}

    {% if user.is_admin %}
    <form style="display: inline;" method="POST" action="{{ url_for('osp:admin:sync', id=assignment.id) }}" onsubmit="return confirm('Вы уверены?')">
        <button>Обновить все</button>
    </form>
    {% else %}
    <span></span>
    {% endif %}
{% endfor %}
</div>
</article>
{% endblock %}
