{% extends "base.html" %}
{% set title = "Вход" %}
{% block main %}
<article>
<h1>Войти</h1>
<form method="POST">
    {{ form.csrf_token }}
    <p>
        {{ form.login.label }}
        {{ form.login() }}
        {% if form.login.errors %}
        {{ ', '.join(form.login.errors) }}
        {% endif %}
    </p>
    <p>
        {{ form.password.label }}
        {{ form.password() }}
        {% if form.password.errors %}
        {{ ', '.join(form.password.errors) }}
        {% endif %}
    </p>

    <p><button>Войти</button></p>
</form>
</article>
{% endblock %}
